# Comment these two out when running on a local machine
#psycopg[c]; sys_platform == "linux"
#psycopg[binary]; sys_platform != "linux"

asgiref==3.7.2
Brotli==1.1.0
cachetools==5.3.0
chardet==5.1.0
charset-normalizer==3.0.1
dj-database-url==2.1.0
Django==5.0
django-cas-ng==4.3.0
django-crispy-forms==1.14.0
google-api-core==2.11.0
google-api-python-client==2.74.0
google-auth==2.16.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.58.0
gunicorn==20.1.0
httplib2==0.21.0
idna==2.5
lxml==4.9.4
oauthlib==3.2.2
packaging==23.2
protobuf==4.21.12
psycopg==3.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
pyRFC3339==1.1
python-cas==1.6.0
pytz==2022.7.1
rsa==4.9
six==1.16.0
typing_extensions==4.9.0
uritemplate==4.1.1
whitenoise==6.3.0
