{% extends "managerBase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block manager_content %}

<h1 class="m-2">
    Trubadur
</h1>
{% if userprofiles|length > 0 %}
{% with userprofiles|first as first %}
<div class="row">
	<div class="col-2"></div>
	<div class="col-8 row">
		<form method="post" class="p-4 col-6">
	    	{% csrf_token %}
			<input type="hidden" name="append" value="6m">
			<input type="submit" value="{% if lang == 'en' %}Add 6 months{% else %}Lägg till 6 måndare{% endif %}" class="btn btn-secondary">
		</form>
		<form method="post" class="p-4 col-6">
	    	{% csrf_token %}
			<input type="hidden" name="append" value="12m">
			<input type="submit" value="{% if lang == 'en' %}Add 12 months{% else %}Lägg till 12 månader{% endif %}" class="btn btn-secondary">
		</form>

		<form method="post" class="col-12">
			{% csrf_token %}
	    	<div class="col-10">
	    		<input type="date" name="date" value="{{ first.registered_expiry_date|date:'Y-m-d' }}" class="form-control">
				<div class="py-2">
            		<input type="submit" value="{% if lang == 'en' %}Set{% else %}Sätt{% endif %}" class="btn btn-secondary btn-block"></form>
        		</div>
	    	</div>
		</form>
	</div>
</div>


<form method="post">
{% csrf_token %}
        <div class="border py-2 my-4">
        {% for userprofile in userprofiles %}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}
            </div>
            <div class="col-2">
                <input class="form-check-input" type="checkbox" name="{{ userprofile.user.username }}" checked>
            </div>
        </div>
        <hr>
        {% endfor %}
        <div class="px-4">
            <input type="submit" value="{% if lang == 'en' %}Set{% else %}Sätt{% endif %}" class="btn btn-secondary btn-block"></form>
        </div>
    </div>
</form>
{% endwith %}
{% else %}
    <p>{% if lang == 'en' %}There are no Trubadur members in the database.{% else %}Det finns inga Trubadurmedlemmar i databasen.{% endif %}</p>
{% endif %}
{% endblock %}
