{% extends "home.html" %}

{% block hed1 %}Welcome to Frispel!{% endblock %}
{% block hed2 %}About us{% endblock %}
{% block par1 %}
	We are an independent music association at LTU for all students that want to play or learn music.
	We are the perfect association for you you who can't play in your student apartment and need a 
	place to rehearse, want to start up a band with your mates but don't have the gear needed, 
	or just want to be part of a music group without having to feel the need to preform on stage.
	If this applies to you, or if you just want to get to know more musicians at the UNI, 
	become a member!
{% endblock %}
{% block par2 %}
	We have a rehearsal room in house A at the university, that we share with some other 
	clubs, which our members can book.
{% endblock %}
{% block par3 %}
	At the moment we have drums, piano, guitar amplifiers, bass amplifier, an electric guitar, an 
	electric bass and a PA-system that our members are free to use.
	{% endblock %}
{% block hed3 %}Contact{% endblock %}
{% block par4 %}
	For contact about membership or other questions, you can get in touch with our
{% endblock %}
{% block chairman_mail %}Chairman over email{% endblock %}
{% block par5 %}
	or write to us on our 
{% endblock %}
{% block facebook %}Facebook page{% endblock %}
{% block message %}
	We have change the login system to use LTUs login page.
	<strong>We recommend that you make sure to log out and log back in again in order for everything to 
	work correctly.</strong> If you’re account has disappeared it is because of an incorrect LTU ID on your profile. 
	Contact us in the board in that case, and we’ll solve it.
{% endblock %}