{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="img-fluid" style="background-image: url('{% static 'drums.jpeg' %}');">
	<div class="img-fluid-container">
		<h1>
			{% block hed1 %}{% endblock %}
		</h1>
	</div>
</div>

<div class="m-5">
	<h3>{% block hed2 %}{% endblock %}
</div>
<p>
	{% block par1 %}{% endblock %}
</p>
<p>
	{% block par2 %}{% endblock %}
</p>
<p>
	{% block par3 %}{% endblock %}
</p>
<div class="my-6">
	<hr>
</div>
<h3 class="m-5">{% block hed3 %}{% endblock %}</h3>
<p>
	{% block par4 %}{% endblock %}<a href="mailto:frispel.ordforande@gmail.com">{% block chairman_mail %}{% endblock %}</a>{% block par5 %}{% endblock %}<a href="https://www.facebook.com/LTUFrispel">{% block facebook %}{% endblock %}</a>.
</p>
{% endblock %}
