{% extends "home.html" %}

{% block hed1 %}Välkommen till frispel!{% endblock %}
{% block hed2 %}Om oss{% endblock %}
{% block par1 %}
	Vi är en fristående musikförening på LTU för alla studenter som vill spela eller lära sig spela musik.
	Vi är den perfekta föreningen för dig om du inte får spela på studentrummet utan behöver en lokal
	du kan jamma i, eller om du och några kurspolare funderar på att starta band men inte har
	utrustningen, eller helt enkelt vill vara med i en musikförening utan att känna krav på att uppträda.
	Stämmer någon av dessa in på dig eller du kanske bara vill träffa fler musikintresserade på
	universitetet, bli medlem!
{% endblock %}
{% block par2 %}
	Vi har en lokal i A-huset på universitetet, som vi delar med några andra föreningar, som våra
	medlemmar kan boka och jamma i.
{% endblock %}
{% block par3 %}
	Just nu tillhandahåller vi trummor, piano, gitarrförstärkare, basförstärkare, lånegitarr, lånebas 
	och PA-system som medlemmar får använda.
	{% endblock %}
{% block hed3 %}Kontakt{% endblock %}
{% block par4 %}
	För kontakt om medlemskap eller andra frågor kan du kontakta
{% endblock %}
{% block chairman_mail %}Ordföranden på mail{% endblock %}
{% block par5 %}
	eller enklast är
	att skriva till oss på 
{% endblock %}
{% block facebook %}Facebook{% endblock %}
{% block message %}
	Vi har ändrat inloggningssystemet till att använda skolans inloggning.  <strong>Vi rekommenderar 
	att ni ser till att logga ut från frispel och logga in igen för att allt ska fungera korrekt.</strong> 
	Skulle det vara så att erat konto inte längre fungerar är det för att ditt ltu ideal var inkorrekt 
	skrivet i din profil. Kontakta oss i styrelsen isåfall, så löser vi det.
{% endblock %}
