{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="m-3">Membership</h1>
<p>Either you are a new member to Frispel, or your membership has expired. To renew or activate your membership, you need to pay the membership fee of 200 sek for half a year or 400 sek for a full year. The payment should be done to Postgiro 713632-8, and need to be addressed with your username.</p>

<p>If you've already payed and still hasn't received your membership status in a couple of days, or have any other questions regarding payment, message Frispels cashier at frispel.kassor@gmail.com</p>

{% endblock %}