{% extends "managerBase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block manager_content %}

<h1 class="m-3">
	Manager
</h1>
<div class="row">
	<div class="col-sm-3 col-1"></div>
	<div class="col-sm-6 col-10">
		<hr>
		<form action="{% url 'manageUsers' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="my-4">
			<input type="submit" class="btn btn-primary btn-block" value="{% if lang == 'en' %}Users{% else %}Användare{% endif %}"/>
		</form>
		<form action="{% url 'maillist' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="my-4">
			<input type="submit" class="btn btn-primary btn-block" value="{% if lang == 'en' %}Mail List{% else %}Mail Lista{% endif %}"/>
		</form>
		<form action="{% url 'trubadur' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="my-4">
			<input type="submit" class="btn btn-secondary btn-block" value="Trubadur"/>
		</form>
		<form action="{% url 'register_access' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="my-4">
			<input type="submit" class="btn btn-secondary btn-block" value="{% if lang == 'en' %}Register Access{% else %}Registrera Tillgång{% endif %}"/>
		</form>
		<form action="{% url 'remove_inactive_users' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="my-4">
			<input type="submit" class="btn btn-secondary btn-block" value="{% if lang == 'en' %}Remove Inactive Users{% else %}Ta bort inaktiva användare{% endif %}"/>
		</form>
	</div>
</div>
{% endblock %}
