{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="m-3">Users</h1>

<div class="container">
	<div class="row">
		<div class="col"><h5>Username</h5></div>
		<div class="col"><h5>Name</h5></div>
		<div class="col"><h5>Membership status</h5></div>
	</div>

	{% for userprofile in userprofiles %}
	<hr>
	<a href="{% url 'manageUser' userprofile.user.username %}" class="link-unstyled">
		<div class="row">
			<div class="col">
				<p>
					{{ userprofile.user.username }}
				</p>
			</div>
			<div class="col">
				<p>
					{{ userprofile.user.first_name }} {{ userprofile.user.last_name }}
				</p>
			</div>
			<div class="col">
				<p>
					{% if userprofile.extended_membership_status %}
					Extended
					{% elif userprofile.active %}
					Active
					{% else %}
					Inactive
					{% endif %}
				</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>

{% endblock %}
