{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Frispel</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'script.js' %}"></script>

	<link href="https://fonts.googleapis.com/css?family=Inria+Serif|Kulim+Park&display=swap" rel="stylesheet">

</head>
<body>

<div id="hiddenImage">
	<img src="{% static 'logoSmall.png' %}">
</div>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top bg-frispel-dark pb-0">
	<a class="navbar-brand" href="/lang={% if lang %}{{lang}}{% else %}sv{% endif %}">
	<img class="logo mx-2 d-inline-block" src="{% static 'logo.png' %}">
	<h1 class="mx-2 d-inline-block title">Frispel</h1>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" href="/lang={% if lang %}{{lang}}{% else %}sv{% endif %}">{% if lang == 'en' %}Home{% else %}Hem{% endif %}<span class="sr-only">(current)</span></a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'calendar' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}">{% if lang == 'en' %}Book{% else %}Boka{% endif %}</a>
		</li>
		{% if user.is_staff %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'manager' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}">Manager</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'manageUsers' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}">{% if lang == 'en' %}Users{% else %}Användare{% endif %}</a>
		</li>
		{% endif %}
		{% endif %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'becomeAMember' %}lang={% if lang %}{{lang}}{% else %}sv{% endif %}">{% if lang == 'en' %}Become a member{% else %}Bli medlem{% endif %}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% static 'documents/MembershipAgreement.pdf' %}">{% if lang == 'en' %}Membership agreement{% else %}Medlemsavtal{% endif %}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% static 'documents/RulesOfProcedure.pdf' %}">{% if lang == 'en' %}Rules of procedure{% else %}Ordningsregler{% endif %}</a>
		</li>
	</ul>

	<ul class="nav navbar-nav button-navbar float-none">
		<li>
			<form action="lang={% if lang == 'en'%}sv{% else %}en{% endif %}" method="get" class="navbar-nav pull-right m-2 my-4 my-lg-2">
				<input type="submit" class="btn btn-primary" value="{% if lang == 'en' %}Svenska{% else %}English{% endif %}"></input>
			</form>
		</li>
		{% if user.is_authenticated %}
		<li>
			<form action="/account/lang={% if lang %}{{lang}}{% else %}sv{% endif %}" method="get" class="navbar-nav pull-right m-2 my-4 my-lg-2">
				<input type="submit" class="btn btn-primary" value="{{ user.username }}"></input>
			</form>
		</li>
		<li>
			<form action="/logout" method="get" class="navbar-nav pull-right m-2 my-4 my-lg-2">
				<input type="submit" class="btn btn-primary" value="{% if lang == 'en' %}Logout{% else %}Logga ut{% endif %}"></input>
			</form>
		</li>
		{% else %}
		<li>
			<form action="/login" method="get" class="navbar-nav pull-right m-2 my-4 my-lg-2">
				<input type="submit" class="btn btn-primary" value="{% if lang == 'en' %}Login/Sign Up{% else %}Logga in/Skapa Användare{% endif %}"></input>
			</form>
		</li>
		{% endif %}
	</ul>
	<div class="d-lg-none sneaky-dino">
		<img src="{% static 'logo.png' %}">
	</div>
</div>
</nav>

<div class="row overflow-hidden mx-0 bodycontainter">
	<div class="col-lg-3"></div>
	<div class=" col-lg-6 p-0" align="center">
		<div style="height: 100px;"></div>

		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</li>
			{% endfor %}
		</ul>
		{% endif %}

		{% block content %}
		{% endblock %}
		<div style="height: 120px;"></div>
	</div>
	<div class="col-lg-3"></div>
</div>

<footer class="footer">
	<div class="container b- f0ont-small frispel-gray p-3 text-center text-lg-left">
		<h5>{% if lang == 'en' %}Contact{% else %}Kontakt{% endif %}</h5>
		<h6>{% if lang == 'en' %}Chairman{% else %}Ordförande{% endif %}: <a href="mailto:frispel.ordforande@gmail.com" class="link-unstyled">frispel.ordforande@gmail.com</a></h6>
		<h6>{% if lang == 'en' %}Facility Manager{% else %}Lokalansvarig{% endif %}: <a href="mailto:frispel.lokalansvarig@gmail.com" class="link-unstyled">frispel.lokalansvarig@gmail.com</a></h6>
		<h6>{% if lang == 'en' %}Cashier{% else %}Kassör{% endif %}: <a href="mailto:frispel.kassor@gmail.com" class="link-unstyled">frispel.kassor@gmail.com</a></h6>
	</div>
</footer>
</body>
</html>
