{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="home-img" style="
	background-image: url('{% static 'drums.jpeg' %}');
	background-position: top;
	background-size: 100%;
	height: 50vh;
	">
</div>

<script>
  window.addEventListener('scroll', function() {
    const el = document.querySelector('.home-img');
    const speed = 0.5; // justera hur mycket bilden rör sig (0.1–0.5 funkar bra)
    const offset = window.scrollY * speed;
    el.style.backgroundPositionY = `${- offset}px`; // inverterad rörelse
  });
</script>

{% comment %}<div class="message">{% endcomment %}
	{% comment %}<p>{% block message %}{% endblock %}</p>{% endcomment %}
{% comment %}</div>{% endcomment %}

<div class="m-5">
	<h3>{% block hed2 %}{% endblock %}
</div>
<p>
	{% block par1 %}{% endblock %}
</p>
<p>
	{% block par2 %}{% endblock %}
</p>
<p>
	{% block par3 %}{% endblock %}
</p>
<div class="my-6">
	<hr>
</div>
<h3 class="m-5">{% block hed3 %}{% endblock %}</h3>
<p>
	{% block par4 %}{% endblock %}<a href="mailto:frispel.ordforande@gmail.com">{% block chairman_mail %}{% endblock %}</a>{% block par5 %}{% endblock %}<a href="https://www.facebook.com/LTUFrispel">{% block facebook %}{% endblock %}</a>.
</p>
{% endblock %}
