{% extends "home.html" %}

{% block hed1 %}Välkommen till frispel!{% endblock %}
{% block hed2 %}Om oss{% endblock %}
{% block par1 %}
	Vi är en fristående musikförening på LTU för alla studenter som vill spela eller lära sig spela musik.
	Vi är den perfekta föreningen för dig om du inte får spela på studentrummet utan behöver en lokal
	du kan jamma i, eller om du och några kurspolare funderar på att starta band men inte har
	utrustningen, eller helt enkelt vill vara med i en musikförening utan att känna krav på att uppträda.
	Stämmer någon av dessa in på dig eller du kanske bara vill träffa fler musikintresserade på
	universitetet, bli medlem!
{% endblock %}
{% block par2 %}
	Vi har en lokal i källaren i A-huset på universitetet, som vi delar med några andra föreningar, som våra
	medlemmar kan boka och jamma i.
{% endblock %}
{% block par3 %}
	Just nu tillhandahåller vi trummor, piano, gitarrförstärkare, basförstärkare, lånegitarr, lånebas 
	och PA-system som medlemmar får använda.
	{% endblock %}
{% block hed3 %}Kontakt{% endblock %}
{% block par4 %}
	För kontakt om medlemskap eller andra generella frågor, kontakta
{% endblock %}
{% block chairman_mail %}ordföranden på mail{% endblock %}

